@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@layer base {
	html {
		font-family: "Roboto", sans-serif;
	}
}

/* biome-ignore lint/suspicious/noUnknownAtRules: <This is a valid use case> */
@theme {
	--font-roboto: "Roboto", sans-serif;

	--color-header-background: #24292e;
	--color-header-text: #ffffff;
	--color-primary: #000000;
	--color-primary-light: #989898;
	--color-profile-link: #0587ff;
}
